{% extends "base_null.html" %}

{% load static %}
{% load i18n %}

{% block title %}
{% translate "Forbidden" %}
{% endblock %}

{% block content %}
<div class="container">

      <section class="section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center">
        <h1>403</h1>
        <h2>{% translate "You don't have permission to access this page" %}.</h2>
        <a class="btn" href="{% url 'dashboard' %}">{% translate "Back to dashboard" %}</a>
        <img src="{% static 'assets/img/not-found.svg' %}" class="img-fluid py-5" alt="Forbidden">
      </section>

    </div>
{% endblock %}